**/.env

**/node_modules

ring-cam/result/*

wordpress/nginx/ssl

wordpress/trafficEndpoint/vendor

*.zip

wordpress/trafficEndpoint/api_keys.txt

car_detection/raspberryPie/result/*

wordpress/html/wp-content/uploads/*