SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_email_password
SMTP_SECURE=tls
SMTP_FROM=your_email@gmail.com
SMTP_FROM_NAME="Your Name"

API_KEYS=separate_with_','_to_express_array