STAGE=CHOOSE_FROM_DEV_PROD

START_TIME=xx:xx
END_TIME=xx:xx

WEB_SERVER_ENDPOINT=ENDPOINT_TO_POST_HERE
API_KEY=ENDPOINT_API_KEY_HERE

EMAIL_SMTP_SERVER=smtp.example.com
EMAIL_SMTP_PORT=587
EMAIL_ADDRESS=your_email@example.com
EMAIL_PASSWORD=your_email_password
EMAIL_RECIPIENTS=email1@example.com,email2@example.com

LOG_DIR=/folder/to/your/logfile.csv

RING_EMAIL=email_here
RING_PASSWORD=ring_password_here
TARGET_DEVICE_IDS=your_target_device_id_1,your_target_device_id_2
USER_AGENT=file_name_contains_token